@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model IEnumerable<BlyckBox.Models.Blog>

<div class="container">
    <div class="d-flex justify-content-between">
        <h3>All Blogs</h3>
        <a class="btn btn-primary" asp-action="Create">Create</a>
    </div>
    @if (Model.Count() > 0)
    {
        <div class="m-2">
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <span>@Html.DisplayFor(i => item.Title)</span>
                            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <h3 class="mx-auto">Nothing Posted Yet!</h3>
    }

</div>