@model BlyckBox.Models.Blog

<section class="about" id="about">
    <div class="container">
        <h4>
            @Model!.Title
        </h4>
        <h5>
            @Model.Description
        </h5>
        <div>
            @Html.Raw(Model.Content)
        </div>
        <div class="d-block">
            @foreach (var item in Model.Tags!.Split("~"))
            {
                <span class="badge badge-primary m-2">@item</span>
            }
        </div>
    </div>
</section>

<div class="copyright">
    <p style="display: inline-block">Copyright&copy; 2022. All Rights Reserved |</p>
    <a style="color: white" asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a>
</div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        var header = document.querySelector('header');
        header.classList.toggle('sticky', true);
    });


    function togglemenu() {
        var menutoggle = document.querySelector('.toggle');
        var menu = document.querySelector('.menu');
        menutoggle.classList.toggle('active')
        menu.classList.toggle('active')
    }

    function toggleViewMore() {
        var viewMoreToggle = document.querySelector('.viewmore-item');
        var viewMoreButton = document.querySelector('.viewmore-btn');
        if (viewMoreButton.innerHTML == "View More") {
            viewMoreButton.innerHTML = "View Less";
        } else if (viewMoreButton.innerHTML == "View Less") {
            viewMoreButton.innerHTML = "View More";
        }
        viewMoreToggle.classList.toggle('d-none');
    }

</script>

}
