@{
    ViewData["Title"] = "Home Page";
}

<section class="banner" id="home">
        <div class="textbx">
            <h2>Welcome To<br><span>Kanocristales</span></h2>
            <h3>Kanocristales is a business software solution IT 
                company <br> that provides wide rang of business solutions 
                for you to do more and worry less.</h3>
            <a href="#about" class="btn">About Company</a>
        </div>
    </section>
    <section class="about" id="about">
        <div class="heading">
            <h2>About Us</h2>
        </div>
        <div class="content">
            <div class="contentBx w50">
                <h3>We provide software solutions to make life easier</h3>
                <p>
                    We believe that in this modern digital world it is very easy for a business 
                    to get pushed back by another digital business with better approach for that 
                    same old thing. For that we as a company want to help those businesses to keep 
                    up the pace and compete with the market.
                </p>
                <br>
                <p>&ensp;&ensp;&ensp;&ensp;We started out as group of enthusiasts that wanted to make
                    a mark in Software Development field. We wanted to offer top class services to the
                    client in this competitive field. For that we made a team of highly qualified 
                    skilled developers to serve our clients better. For the past 3 years we are have
                    developed allot of innovative software, mobile applications and web applications. 
                    We are motivated to do more. We are Kanocristales.
                </p>
            </div>
            <div class="w50">
                <img src="~/img/img1.jpg" class="img">
            </div>
        </div>
    </section>
    <section class="services" id="services">
        <div class="heading white">
            <h2>Our Services</h2>
        </div>
        <div class="content">
            <div class="serviceBx">
                <img src="~/img/icon1.png">
                <h2>Web Designing</h2>
                <p>
                    We do web development with top notch latest technologies with popular JavaScript 
                    frameworks i.e ReactJs, Angular, VueJs and backend technologies 
                    which are NodeJs, ASP.NET Core, Php while we also provide WordPress, Shopify site 
                    development and services.
                </p>
            </div>
            <div class="serviceBx">
                <img src="~/img/icon2.png">
                <h2>Desktop Application</h2>
                <p>
                    We develop Desktop business apps for wide range of businesses and niche. 
                    We do desktop app development with .NET Core framework to target Cross Platform 
                    user base. While we also provide apps with various UI/UX i.e DevExpress, 
                    SyncFusion etc.
                </p>
            </div>
            <div class="serviceBx">
                <img src="~/img/icon3.png">
                <h2>Mobile Application Development</h2>
                <p>
                    We develop mobile apps for Native Android (Kotlin) or Native iOS (Swift)
                     while also Cross Platform apps that target both Operating System with 
                     Flutter or React Native.
                </p>
            </div>
            <div class="serviceBx">
                <img src="~/img/icon4.png">
                <h2>Graphic Designing</h2>
                <p>
                    We design beautiful illustrations that portrays customers imaginations. 
                    We provide logo designing, web designing and many more graphical UI with 
                    Adobe XD, Figma, Adobe Illustrator, Adobe Photoshop etc.
                </p>
            </div>
            <div class="serviceBx">
                <img src="~/img/icon5.png">
                <h2>Project Documentation</h2>
                <p>
                    We also provide proper Software usecase architecture and Documentation to the client
                    if needed for better understanding of the details of software.
                </p>
            </div>
            <div class="serviceBx">
                <img src="~/img/icon6.png">
                <h2>Video Editing</h2>
                <p>
                    We create video animations, short intro graphical animated clips and animated
                    videos with various tools like Adobe Illustrator, Adobe Premier Pro, 
                    Adobe After Effects etc.
                </p>
            </div>
        </div>
    </section>
    <section class="work" id="work">
        <div class="heading">
            <h2>Our Latest Work</h2>
        </div>
        <div class="content">
            <div class="workBx">
                <img src="~/img/project1.png">
            </div>
            <div class="workBx">
                <img src="~/img/project2.png">
            </div>
            <div class="workBx">
                <img src="~/img/project3.png">
            </div>
            <div class="workBx">
                <img src="~/img/otgt.png">
            </div>
            <div class="workBx d-none viewmore-item">
                <img src="~/img/project4.png">
            </div>
        </div>
        <div class="heading">
            <a href="#work" class="btn viewmore-btn" onclick="toggleViewMore()">View More</a>
        </div>
    </section>
    <section class="testimonial" id="testimonial">
        <div class="heading">
            <h2>Testimonial</h2>
        </div>
        <div class="content">
            <div class="testimonialBx">
                <p>
                    "They made website of my company, I am glad for going to them, 
                    They were excellent at cooperation and were very professionals 
                    in terms of making changes to the project. Hope to work again with them."
                </p>
                <h3>Yawar Ashfaq<br><span>Ittefaq Fruit Company And Traders</span></h3>
            </div>
            <div class="testimonialBx">
                <p>
                    "I have gotten at least 50 times the value from business app. 
                    It's the perfect solution for our business."
                </p>
                <h3>Umair Kaleem<br><span>Ideal MotorBikes</span></h3>
            </div>
            <div class="testimonialBx">
                <p>
                    "I was amazed at the quality of Kanocristales. Thanks to mobile application, 
                    we've just launched our 5th website!"
                </p>
                <h3>Jack Roddy<br><span>Sliver</span></h3>
            </div>
            <div class="testimonialBx">
                <p>"The Inventory and Stock Management app saved my business and me from all
                    the hassle. Very easy to use. Just what I was looking for. Best. Product. Ever!"</p>
                <h3>Manzoor Ahmed<br><span>Raymond Oil Mills</span></h3>
            </div>

            

        </div>
    </section>
    <section class="contact" id="contact">
        <div class="heading white">
            <h2>Contact Us</h2>
        </div>
        <div class="content">
            <div class="contactInfo">
                <h3>Contact Info</h3>
                <div class="contactInfoBx">
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="text">
                            <h3>Address</h3>
                            <h4>UAE</h4>
                            <p>
                                601 Palace Tower, Silicon Oasis, <br> Dubai, UAE
                            </p>
                            <p><i class="fa fa-phone"></i>&ensp;&ensp;+971 582 833 071</p>
                            <h4>Islamabad</h4>
                            <p>House no 2019, State 64, Phase 3,<br /> Bahria Town, Islamabad</p>
                            <p><i class="fa fa-phone"></i>&ensp;&ensp;+92 312 965 0365</p>
                            <h4>Lahore</h4>
                            <p>
                                House no 72-B, Street no 1B, <br>Eden Resedencia,<br> 
                                Near Military
                                Account Society,<br> College Road, Lahore, Punjab
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>+92 304-7464614<br>
                            +92 345-8672640</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="text">
                            <h3>Email</h3>
                            <a mailto="hr@Kanocristales.com">hr@Kanocristales.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="formBx">
                <form>
                    <h3>Message Me</h3>
                    <input type="text" name="" placeholder="Full Name">
                    <input type="email" name="" placeholder="Email">
                    <textarea placeholder="Your Message"></textarea>
                    <input type="submit" value="send">
                </form>
            </div>
        </div>
    </section>
    <div class="copyright">
        <p>Copyright&copy; 2020. All Rights Reserved</p>
    </div>
    <script type="text/javascript">
        window.addEventListener('scroll', function () {
            var header = document.querySelector('header');
            header.classList.toggle('sticky', window.scrollY > 0);
        });

        function togglemenu(){
            var menutoggle = document.querySelector('.toggle');
            var menu = document.querySelector('.menu');
            menutoggle.classList.toggle('active')
            menu.classList.toggle('active')  
        }

        function toggleViewMore(){
            var viewMoreToggle = document.querySelector('.viewmore-item');
            var viewMoreButton = document.querySelector('.viewmore-btn');
            if(viewMoreButton.innerHTML == "View More"){
            viewMoreButton.innerHTML = "View Less";
            } else if(viewMoreButton.innerHTML == "View Less") {
            viewMoreButton.innerHTML = "View More";
            }
            viewMoreToggle.classList.toggle('d-none');
        }

    </script>
